body {
    font-family: Arial, sans-serif;
    background-color: #f87ac5;
    margin: 0;
    padding: 0;
}


.container {
    width: 300px;
    margin: 60px auto;
    padding: 25px;
    background-color: #ffffff;
    border: 2px solid #f87ac5;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

h2 {
    color: #880e4f;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #880e4f;
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
    margin-left: 15%;
}

input[type="email"],
input[type="password"] {
    width: 70%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #f87ac5;
    border-radius: 6px;
    font-size: 14px;
}

.recordar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15%;
    gap: 8px;
    color: #880e4f;
    font-size: 14px;
    margin-bottom: 15px;
}

input[type="submit"] {
    padding: 10px 40px;
    background-color: #ff3d9a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    opacity: 0.8;
}


.links a {
    color: #c2185b;
    font-size: 13px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

button {
    padding: 8px 20px;
    background-color: #880e4f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}